@using DotNetNuke.Web.DDRMenu;
@using System.Dynamic;
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

<ul class="flex flex-wrap max-sm:flex-col gap-2 items-start">
    @foreach (var node in Model.Source.root.Children)
    {
        var attrTarget = !string.IsNullOrEmpty(node.Target) ? ("target=\"" + node.Target + "\"") : string.Empty;
        var attrHref = node.Enabled ? node.Url : "javascript:void(0);";

        <li class="flex"> 
            @if (node.Enabled)
            {
                <a href="@attrHref" @attrTarget class="px-4 py-2 text-white/80 no-underline transition-colors duration-150 hover:text-white hover:bg-white/10 hover:rounded-[0.375rem] hover:no-underline @(node.Selected ? "text-white!" : "")">
                    @node.Text
                </a>
            }
            else
            {
                <span class="px-4 py-2 text-white/30 cursor-default">
                    @node.Text
                </span>
            }
        </li>
    }
</ul>
